@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* rafting.css */
:root {
    --primary-color: #163644;
    --secondary-color:  #4E5355;
    --headingt-color: #333333;
    --paragraph-color:  #666666;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

p {
  color: var(--paragraph-color);
}

a {
  text-decoration: none;
}

.social-media-link {
  text-decoration: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

/* Put elements in the div class hero in normal form */
.hero {
  position: relative;
}

.hero img {
  display: block;
  /* width: 100%; */
  width: 1200px;
  height: 700px;
}

.hero h1 {
  position: absolute;
  top: 12.5%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  width: 1160px;
  font-family: Arial, Helvetica, sans-serif;
}

.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(46, 88, 166, 0.4);
  color: white;
  padding: 10px;
  text-align: justify;
  width: 80%;
}

.hero article p {
  color: white;
  padding: 10px;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.hero article img {
  float: right;
  width: 235px;
  height: 170px;
  padding: 10px;
}

/* Arrangement of the header part */
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1200px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

nav {
	text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.navigate {
	display: flex;
	list-style: none;
}

.navigate li {
	flex: 1 1 100%;
}

.navigate a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigate a:hover {
	color: rgb(232, 117, 16);
	font-weight: 500;
	text-decoration: underline;
}

/* Styling the History Section */
.histosec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #edf4f5; */
  padding: 10px;
}

.histosec h2 {
  text-align: center;
  width: 100%;
}

.histosec p {
  width: 30%;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

.histosec img {
  width: 270px;
  height: 220px;
  padding: 25px;
  object-fit: cover;
}


/* Styling the Adventures Section */
.advensec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #edf4f5; */
  padding: 10px;
}
 
.advensec h2 {
  text-align: center;
  width: 100%;
}

.advensec figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  /* padding: 5px; */
  max-width: 200px;
  margin: 10px;
}

.advensec img {
  justify-content: center;
  max-width: 200px;
  max-height: 150px;
}

.advensec figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}


/* Styling the Footer */
footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-left: 33%;
  padding-top: 25px;
}

footer p {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

footer nav img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  
}